<html>
    <head>
        <title>
            Birb Me!
        </title>
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <body>
        <h1>
            Bird Species Classifier
        </h1>
        <div>
            <form id="data" method="post" enctype="multipart/form-data">
                <input type="file" id="bird-image" name="bird" accept="image/*">
                <button id = "predict_upload"> Predict</button>    
            </form>
        </div>
        <div>
            <p id="display-meesage"></p>
        </div>
    </body>

    <script>
            $("form#data").submit(function(e) {
                e.preventDefault();    
                var formData = new FormData(this);

                $.ajax({
                    url: "predict",
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        if(data.probability > 0.6){
                            $("#display-meesage").html(`The bird belongs to ${data.bird_class} class with ${(data.probability*100).toFixed(0)}% probability.`)
                        }else{
                            $("#display-meesage").html(`Could not determine the class of the bird. The bird is similar to ${data.bird_class} class with ${(data.probability*100).toFixed(0)}% similarity.`)
                        }
                    },
                    error: function() { 
                        $("#display-meesage").html(`Error occured.`)
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            });

    </script>
</html>
